
    <link rel="stylesheet" href ="{{ url_for('static', filename='css/event-carousel.css')}}" />


<style xmlns="http://www.w3.org/1999/html">

    input[type="submit"], #submitManually {
    background: rgb(80, 80, 145);
    padding: 16px;
    #border-radius: 1em;
    border: 0;
    font-size: 1em;
    color: white;
    cursor: pointer;
    }

	  .injury-space{
        margin-top:2%;
        background-image: url({{ url_for('static', filename='images/body_injury1.png') }});
        color:white;
        background-position: center;
        background-size: 700px 650px;
        height:650px;
        width:300px;
        border: 1px solid #2E303D;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 20px;
        animation: fadeIn 2.5s ease-in;
        background-color: var(--bgcolor);

        }

        .part-right
        {

		padding:16px;
        border: 1px solid #2E303D;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: var(--bgcolor);
        animation: fadeIn 2.5s ease-in;



        }

.contusion-box{

    height:600px;
    overflow-y:scroll
}


@keyframes click-wave {
	0% {
		height: 40px;
		width: 40px;
		opacity: 0.35;
		position: relative;
	}
	100% {
		height: 200px;
		width: 200px;
		margin-left: -80px;
		margin-top: -80px;
		opacity: 0;
	}
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	border: none;
	color: var(--text-light);
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 0;
}

input[type="radio"]:hover {
	background: #9faab7;
}

input[type="radio"]:checked {
	background: var(--secondleadcolor);
	border-radius: 20px;
	border:1px solid white;
}

input[type="radio"]:checked::before {
	height: 40px;
	width: 40px;
	position: absolute;
	content: '⛑'; /* ✔ */
	display: inline-block;
	font-size: 26.66667px;
	text-align: center;
	line-height: 40px;
}

input[type="radio"]:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: white;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}



input[type="date"], select{
    background: #3F4254;
    display: inline-block;
    margin: 2em auto;

    padding: 1em;

    border-radius: 0.5em;
    border: none;

    font-size: 1em;
    color: rgba(255, 255, 255, 0.747);
}

textarea{
    background: #3F4254;
    margin-bottom:2%;

}

.columns-30-30-30{
    display:grid;

    grid-template-columns: 30% 30% 30%;
}


.scene {
  perspective: 600px;
}


label {
  width: 200px;
  height: 260px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

#card:checked + label .card {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
}

.card__face--back {
  background: var(--leadcolor);
  transform: rotateY(180deg);
}


</style>


        <div class="user-content-right">

<div class="table-box">



                     <h1> <i class="fas fa-id-card-alt"></i> {{ _("Injury data About Player") }}</h1>
                     <hr>


<div class="event-carousel contusion-box">



                        {% for con in contusion if con.state in "PAST" %}



                     <div class="event-details">
                         <h2 style="color: var(--text-light)"> {{con.start.strftime("%d/%m/%Y") }} - {{con.end.strftime("%d/%m/%Y")}}</h2><p>{{ _("Days") }}:{{ (con.end - con.start).days }}</p>
                         <h3>{{con.state}}</h3>


                         {{ con.__repr__(current_user.language) }}
                     </div>

                        {% endfor %}
</div>
</div>

    <div class="event-carousel">
        <h1> <i class="fas fa-id-card-alt"></i> {{ _("Active Injury") }}</h1>
    <hr>

                        {% for con in contusion if con.state in "ACTIVE" %}



                     <div class="event-details">
                        <h1 id="time2"> {{con.start.strftime("%d-%m-%Y") }} - {{con.end.strftime("%d-%m-%Y")}}: {{ (con.end - con.start).days }} {{ _("Days") }}</h1>
                         <h3>{{con.state}}</h3>


                         {{ con.__repr__(current_user.language) }}
                         <h4>{{ _("Details") }}</h4>
                         <p>{{con.details}}</p>


                     </div>




                        {% endfor %}



      
</div>










