
{% block stylesheet %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
<link href="{{ url_for('static', filename='src/vue/dist/css/chunk-vendors.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='src/vue/dist/js/app.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='src/vue/dist/js/chunk-vendors.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='src/vue/dist/css/chunk-vendors.css') }}" rel="stylesheet">
<style>


</style>
{% endblock %}


<div id="app-calendar">
    <script src="{{ url_for('static', filename='src/vue/dist/js/chunk-vendors.js') }}"></script>
    <script src="{{ url_for('static', filename='src/vue/dist/js/app.js') }}"></script>

</div>