{% extends "base.html" %}

	{% block stylesheet %}
    		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    {% endblock stylesheet %}

{% block content %}
{% set active_page = "calendar" %}
<body>

    {% include '_navbar.html' %}

    {% include '_sidebar.html' %}

    <div class="main">
	<div class="content">
        <div class="hello"></div>
        {% if 'admin' in current_user.show_role()  %}
            {% include'_vue_calendar.html' %}
        {% else %}
            {% include'_calendar.html' %}
        {% endif %}
	</div>
         
        
       
    </div>


    
</body>
</html>

{% endblock %}