{% extends "base.html" %}

	{% block stylesheet %}
    		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    {% endblock stylesheet %}



{% block content %}


	<form action="" method="post" novalidate>
	  {{ form.hidden_tag() }}
	  <div class="login-box">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
          {{ form.password(placeholder=_("New Password"))}}
		   {% for error in form.password.errors %}
		   <span style="color: red;">{{ _("Password: ") }} {{ error }}</span>
		   {% endfor %}
			   {{ form.password2(placeholder= _("Confirm Password"))}}


	   {{ form.submit() }}
   
		</div>
	 </form>
	
	
{% endblock %}