{% extends "base.html" %}

	{% block stylesheet %}
    		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
    		<link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}" />
    {% endblock stylesheet %}

{% block content %}
{% set active_page = "surveys" %}
<body>

    {% include '_navbar.html' %}

    {% include '_sidebar.html' %}

    <div class="main">
	<div class="content">
        <div class="hello">{{ _("Surveys") }}</div>
         {% include '_alerts.html' %}

<style>


.questionarie ul {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
.radio-button{
    all: initial;
    color: white;
    }

.scale{
  background-image: linear-gradient(to right, blue, aqua, green, yellow, orange, red);
  border-radius:20px;
  margin-bottom:5%;
  height: 20px;

}

    @media screen and (max-width: 765px) {
        #rpe-button > ul{
            display:inline-block;

        }
         #rpe-button{
            grid-template-columns: 1fr 1fr;
            display:grid;

            font-size:12px;

        }

       .scale{
       transform: translateY(380px) translateX(100px) rotate(90deg) scale(1.8);

       }
       .submit-survey{
        margin-top:850px;
       }
    }

</style>


<div class="survey-title two-columns-30-70">

      <div class="event-space">
    <div class="event-head">
    <h3 style="color: var(--text-light)">{{event.name}}</h3>
   <p>{{event.start.strftime('%d-%m-%Y')}} | {{event.end.strftime('%d-%m-%Y')}}</p>
   <p>{{event.details}}</p>
        <p>{{ _("Type") }} :
                  {% if event.type_id == 4 %} {{_("Training") }}
                  {% elif event.type_id == 3 %} {{_("Match - International") }}
                  {% elif event.type_id == 2 %} {{_("Match - Cup") }}
                  {% elif event.type_id == 1 %} {{_("Match - League") }}
                  {% else %}
                  {{_("Medical") }}
                  {% endif %}


              </p>
               <p>{% if event.details != '' %} {{event.details}} {% endif %}</p>
    </div>
   </div>
    <div class="questionarie">

        <form action="" method="post">
            {{ form.hidden_tag() }}
        {% for i in form if i.widget.input_type != 'hidden' %}
            {% if i.widget.input_type ==  'submit' %}
                <div class="scale"></div>
             <div class="submit-survey">{{i}}</div>

            {% else %}
        <h2 style="margin-bottom:2%; padding-top: 5px;">{{i.label}}</h2>
            <div class="radio-button" id="rpe-button">{{i}}</div>
        {% endif %}
        {% endfor %}
        </form>

    </div>

</div>

    </div>
    </div>
{% endblock %}
